* {
  font-family: sans-serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid lightgray;
}

header .container {
  height: 60px;
  display: flex;
  justify-content: space-between;
}

header img {
  width: 73px;
}

header .buttonsContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

header button {
  width: 115px;
  height: 28px;
  color: #007580;
  border: 1px solid #007580;
  background-color: #fff;
  border-radius: 5px;
  font-size: 12px;
}

header .buttonsContainer button:last-child {
  color: #fff;
  background-color: #007580;
}

.hero {
  width: 100%;
  height: 340px;
}

.hero > img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  object-position: center;
}

.offersContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 40px;
}

.owner {
  height: 34px;
  margin-bottom: 5px;
  margin-left: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.owner > img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

p {
  font-size: 12px;
  color: #999;
}

article > img {
  width: 235px;
  height: 360px;
  object-fit: cover;
}

h3 {
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 7px;
}

.infosContainer {
  margin-left: 10px;
}

.brand {
  margin-bottom: 7px;
}
