@import url("https://fonts.cdnfonts.com/css/maison-neue?styles=49784,49798,49804,49800,49802,49786,49782,49796,49780");

* {
  font-family: "Maison Neue", sans-serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  font-family: "Maison Neue", sans-serif;
}

header {
  border-bottom: 1px solid lightgray;
}

header .container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 73px;
  object-fit: center;
}

header .buttonsContainer {
  display: flex;
  align-items: center;
  gap: 30px;
}

header .buttonsContainer > div {
  display: flex;
  gap: 5px;
}

button {
  cursor: pointer;
}

header button {
  width: 115px;
  height: 28px;
  color: #007580;
  border: 1px solid #007580;
  background-color: #fff;
  border-radius: 5px;
  font-size: 12px;
}

.sellButton {
  color: #fff;
  background-color: #007580;
}

.hero {
  width: 100%;
  height: 430px;
  position: relative;
}

.imgHero {
  width: 100%;
  height: 430px;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.hero .ripHero {
  width: 50%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.offersContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 40px;
}

.owner {
  height: 34px;
  margin-bottom: 5px;
  margin-left: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.owner > img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

p {
  font-size: 12px;
  color: #999;
}

article > img {
  width: 235px;
  height: 360px;
  object-fit: cover;
}

h4 {
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 7px;
}

.infosContainer {
  margin-left: 10px;
}

.brand {
  margin-bottom: 7px;
}

/* ---page Offer--- */

.offerPage {
  background-color: #ebedee;
}

.offerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.offerContainer > img {
  width: 454px;
  height: 605px;
  object-fit: cover;
  object-position: center;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

.offerInfosContainer {
  width: 400px;
  height: 605px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.offerInfosContainer > div {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: column;
}

/* ---Signup page--- */

.formContainer {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 58px;
}

.formContainer > input {
  width: 100%;
  height: 51px;
  border-style: none;
  outline: none;
  border-bottom: 1px solid #fcced3;
}

form > div {
  margin-top: 46px;
  display: flex;

  align-items: center;
  gap: 20px;
}

.formContainer > div {
  display: flex;
  flex-direction: column;
}

.formContainer .checkboxContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 13px;
}

.formContainer .checkbox {
  -webkit-transform: scale(2);
  cursor: pointer;
}

label {
  font-size: 16px;
  font-family: "Maison Neue", sans-serif;
}

.formContainer button {
  width: 100%;
  height: 45px;
  margin-top: 45px;
  background-color: #007580;
  color: #fff;
  border-style: none;
  border-radius: 5px;
}

.formContainer > div p {
  line-height: 20px;
  text-align: justify;
}

.publishBackground {
  background-color: #ebedee;
}

.publishContainer {
  flex-direction: column;
  margin-top: 45px;
}

.publishContainer section {
  border: 1px black solid;
}
