@import url("https://fonts.cdnfonts.com/css/maison-neue?styles=49784,49798,49804,49800,49802,49786,49782,49796,49780");

* {
  font-family: "Maison Neue", sans-serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  font-family: "Maison Neue", sans-serif;
}

header {
  border-bottom: 1px solid lightgray;
}

header .container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 73px;
  object-fit: center;
}

header input {
  width: 632px;
  height: 39px;
  background-color: #f5f6f7;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  padding-left: 40px;
}

header .buttonsContainer {
  display: flex;
  align-items: center;
  gap: 30px;
}

header .buttonsContainer > div {
  display: flex;
  gap: 5px;
}

button {
  width: 115px;
  height: 28px;
  color: #007580;
  border: 1px solid #007580;
  background-color: #fff;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.sellButton {
  color: #fff;
  background-color: #007580;
}

.hero {
  width: 100%;
  height: 430px;
  position: relative;
}

.imgHero {
  width: 100%;
  height: 430px;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.hero .ripHero {
  width: 50%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.hero > div {
  width: 409px;
  height: 270px;
  background-color: #fff;
  border: #a3a6a8e1 1px solid;
  border-radius: 5px;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 80px;
  left: 130px;
  font-size: 32px;
  font-family: "Maison Neue", sans-serif;
  justify-content: space-between;
  padding: 60px 27px;
  box-sizing: border-box;
}

.hero > div button {
  height: 50px;
  width: 180px;
  color: #fff;
  background-color: #007580;
  font-size: 16px;
}

.offersContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 40px;
}

.owner {
  height: 34px;
  margin-bottom: 5px;
  margin-left: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.owner > img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

p {
  font-size: 12px;
  color: #999;
}

article > img {
  width: 235px;
  height: 360px;
  object-fit: cover;
}

h4 {
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 7px;
}

.infosContainer {
  margin-left: 10px;
}

.brand {
  margin-bottom: 7px;
}

/* ---page Offer--- */

.offerPage {
  width: 100%;
  height: 100vh;
  background-color: #ebedee;
}

.offerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
}

.offerContainer > img {
  width: 454px;
  height: 605px;
  object-fit: contain;
  object-position: center;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

.offerInfosContainer {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 46px 40px;
  box-sizing: border-box;
}

.offerInfosContainer > h2 {
  margin-bottom: 30px;
}

.offerInfosContainer > div:not(:last-child) {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e7e7;
}

.offerInfosContainer > div:last-child {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.offerInfosContainer h3:first-child {
  font-weight: 500;
}

.offerInfosContainer h3:nth-child(2) {
  color: #666;
}

.offerInfosContainer div:last-child div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.offerInfosContainer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.offerInfosContainer h3:last-child {
  color: #000;
}

.offerInfosContainer button {
  width: 100%;
  height: 36px;
  margin-top: 53px;
  background-color: #007580;
  color: #fff;
  font-size: 16px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 11px;
  font-size: 14px;
  margin-bottom: 64px;
}

ul:first-child {
  color: #999;
}

ul:last-child {
  color: #666;
}

/* ---Signup page--- */

.formContainer {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 58px;
}

.formContainer > input {
  width: 100%;
  height: 51px;
  border-style: none;
  outline: none;
  border-bottom: 1px solid #fcced3;
}

.formContainer form > div {
  margin-top: 46px;
  display: flex;

  align-items: center;
  gap: 20px;
}

.formContainer > div {
  display: flex;
  flex-direction: column;
}

.formContainer .checkboxContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 13px;
}

.formContainer .checkbox {
  -webkit-transform: scale(2);
  cursor: pointer;
}

label {
  font-size: 16px;
  font-family: "Maison Neue", sans-serif;
}

.formContainer button {
  width: 100%;
  height: 45px;
  margin-top: 45px;
  background-color: #007580;
  color: #fff;
  border-style: none;
  border-radius: 5px;
}

.formContainer > div p {
  line-height: 20px;
  text-align: justify;
}

/* --- page Publish --- */
.publishBackground {
  width: 100vw;
  height: 100%;
  background-color: #ebedee;
}

.publishContainer {
  display: flex;
  flex-direction: column;
}
.publishContainer h2 {
  margin-top: 45px;
  margin-bottom: 27px;
}

input[type="file"] {
  display: none;
}

.inputFile {
  border: #007580 2px solid;
  color: #007580;
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.previewImageContainer {
  height: 250px;
  width: 250px;
}

.publishContainer form .previewImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.publishContainer form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.publishContainer .publishPictureContainer {
  height: 250px;
  background-color: #fff;
  border: #cacbcc solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.publishContainer section {
  background-color: #fff;
  border: #cacbcc solid 1px;
  padding: 25px;
}

.publishContainer section > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 73px;
  border-bottom: 1px solid #ebedee;
}

.publishContainer input {
  width: 623px;
  outline: none;
  border-style: none;
  border-bottom: solid 1px #ebedee;
}

.publishCheckbox {
  display: flex;
}

.publishButton {
  background-color: #ebedee;
  height: 160px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.publishButton button {
  height: 45px;
  background-color: #007580;
  color: #fff;
  border-style: none;
  border-radius: 5px;
}

/* ---Payment page--- */

.paymentBackground {
  height: 100vh;
  background-color: #ebedee;
  padding: 40px;
  font-family: "Maison Neue", sans-serif;
}

.paymentBackground form {
  width: 43%;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  box-sizing: border-box;
}

.paymentBackground form > div > div {
  display: flex;
  justify-content: space-between;
}

.resumePayment {
  margin-top: 20px;
  border-bottom: #ebedee 1px solid;
  padding-bottom: 70px;
}

.totalPayment {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 70px;
}

.bolded {
  font-weight: bold;
}

.messageBeforePayment {
  margin-bottom: 70px;
}

.paymentBackground button {
  margin-top: 30px;
  height: 40px;
  width: 100%;
  color: #fff;
  background-color: #007580;
}

.validateMessage {
  margin-top: 30px;
  color: #666;
}
